.aside-info.identity
	a.identity-pic(href="#")
		img.img-thumbnail.img-circle(src="images/profile-pic-honda.jpg")
	.identity-content
		span.text-muted Organizer
		a(href="#")
			h4 Keisuke Honda
		button.btn.btn-main.btn-sm
			span.glyphicon.glyphicon-envelope
			| &nbsp;Contact Us