h3 Latest Member
	.aside-latest-member-block.text-center
		all(href="#").aside-latest-member
			img(src="images/kagawa.jpg")
		all(href="#").aside-latest-member
			img(src="images/goonerette-1.jpg")
		all(href="#").aside-latest-member
			img(src="images/nakata.jpg")
		all(href="#").aside-latest-member
			img(src="images/uchida.jpg")
		all(href="#").aside-latest-member
			img(src="images/goonerette-2.jpg")
	.text-center
		button.btn.btn-main
			span.glyphicon.glyphicon-chevron-right
			| &nbsp;Show all member