h3 Upcoming Schedules
.list-group.aside-schedule
	.list-group-item.aside-schedule-timestamp.text-center Saturday, 22 December 2014
	a.list-group-item.aside-schedule-list(href="#")
		h4 Gramedia School Holiday Fair 2013
		p
			span.glyphicon.glyphicon-time
			| &nbsp;7.30 pm by Jakarta 
			strong Great Events
	a.list-group-item.aside-schedule-list(href="#")
		h4 Contest Education With Universitas Diponegoro ELECTRICAL INNOVATION AWARDS 2013
		p
			span.glyphicon.glyphicon-time
			| &nbsp;7.30 pm by Jakarta 
			strong Great Events
	a.list-group-item.aside-schedule-list(href="#")
		h4 Gramedia School Holiday Fair 2013
		p
			span.glyphicon.glyphicon-time
			| &nbsp;7.30 pm by Jakarta 
			strong Great Events
	a.list-group-item.aside-schedule-list(href="#")
		h4 Contest Education With Universitas Diponegoro ELECTRICAL INNOVATION AWARDS 2013
		p
			span.glyphicon.glyphicon-time
			| &nbsp;7.30 pm by Jakarta 
			strong Great Events
	.list-group-item.aside-schedule-list.text-center
		button.btn.btn-main
			span.glyphicon.glyphicon-chevron-right
			| &nbsp;Show more