.aside-upd-post-block
	.aside-upd-post
		p quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
			| ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
			| voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
			| fugiat quo voluptas nulla pariatur?
		.aside-upd-post-timestamp.pull-right
			span.glyphicon.glyphicon-time
			| &nbsp; 14 August 2014
	.aside-upd-post
		p quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
			| ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
			| voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
			| fugiat quo voluptas nulla pariatur?
		.aside-upd-post-timestamp.pull-right
			span.glyphicon.glyphicon-time
			| &nbsp; 14 August 2014
	.aside-upd-post
		p quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
			| ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
			| voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
			| fugiat quo voluptas nulla pariatur?
		.aside-upd-post-timestamp.pull-right
			span.glyphicon.glyphicon-time
			| &nbsp; 14 August 2014
	.aside-upd-post
		p quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
			| ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
			| voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
			| fugiat quo voluptas nulla pariatur?
		.aside-upd-post-timestamp.pull-right
			span.glyphicon.glyphicon-time
			| &nbsp; 14 August 2014