footer
  .container
    .row
      .col-sm-4
        .footer-shoutout.text-center
          h3 Akibanation Surabaya
          p Be a part of this Community?
          button.btn.btn-main-accent Join Now!
      .col-sm-8
        h3 Latest Blog
        .footer-latest-blog
          .footer-latest-blog-wide
            a.footer-latest-blog-headline(href="#")
              h4 We have new gossip? guess what......
            .footer-latest-blog-timestamp
              span.glyphicon.glyphicon-time
              | &nbsp;22 August 2014 by 
              strong Admin
            p Morbi metus magna, mattis at male suada eget, tempor id urna.
              | &nbsp;Suspendisse potenti. Cras at nisi interdum neque tincidunt pellentesque. Aenean porta molestie quam ...
          .footer-latest-blog-mini
            a.footer-latest-blog-headline(href="#")
              h4 We have new gossip? guess what......
            .footer-latest-blog-timestamp
              span.glyphicon.glyphicon-time
              | &nbsp;22 August 2014 by 
              strong Admin
    hr
    .row
      .col-xs-12.col-sm-8.footer-nav
        ul.list-inline.pull-left
          li.active
            a(href="#") about
          li
            a(href="#") dashboard
          li
            a(href="#") calendar
          li
            a(href="#") media
          li
            a(href="#") member
          li
            a(href="#") blog
      .col-xs-12.col-sm-4.footer-logo.text-right
        a(href="https://grouphub.me") Powered by&nbsp;:&nbsp;
          img(src="images/grouphub-logo-97x24-light.png")
