#modal-login.modal.fade
  .modal-dialog
    .modal-content
      .modal-body
        button(type="button", data-dismiss="modal").close
          span(aria-hidden="true") &times;
          span.sr-only Close
        form(role="form")
          .form-group
            input.form-control(type="text", placeholder="Full name")
          .form-group
            input.form-control(type="password", placeholder="Password")
          .checkbox
            label
              input(type="checkbox")
              | Remember me
        button.btn.btn-primary Login
        button.btn.btn-default Login with Facebook
      .modal-footer
        button.btn.btn-success.btn-block I want to register
