#modal-login.moda-l.fade
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button", data-dismiss="modal").close
          span(aria-hidden="true") &times;
          span.sr-only Close
        h4.modal-title Modal Title Here
      .modal-body
        p body here...
          | yeah
      .modal-footer
        button.btn.btn-primary Save Changes
        button(data-dismiss="modal").btn.btn-default Close