// bower:less
@import "bootstrap/less/bootstrap.less";
// endbower

// custom variable
@base-white:				#f9f9f9;
// enfd custom variable

.wrp-header-cover {
	height: 400px;
	width: 100%;
	position: relative;
	overflow: hidden;

	& > .header-cover {
		width: 100%;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		position: absolute;
		margin: auto;

	}
}

.wrp-header{
	position: relative;
}

.header{

	&-cover-pttrn {
		
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&-cover-overlay{
		position: absolute;
		width: 100%;
		height: 100%;

		&-pttrn {
			background: url('../images/pttrn-cover.png') top left;
		}

		&-gradi-top {
			background:  url('../images/gradi-cover-top.png') top left repeat-x;
		}

		&-gradi-bottom {
			background:  url('../images/gradi-cover-bottom.png') bottom left repeat-x;
		}
		
	}


	&-nav {
		position: absolute;
		z-index: 1;
		top: 14px;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 8px;
	}

	&-profile-pic {
		display: block;
		position: absolute;
		top: -14px;
	}

	&-id {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		&-title {
			color: white;
			text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
		}

		&-stats {
			background: @base-white;
			border: 1px solid white;
			border-radius: 4px;
			width: 420px;
			margin-right: auto;
			margin-left: auto;
		}
	}


}