// bower:less
@import "bootstrap/less/bootstrap.less";
// endbower
@import "buttons-edit.less";


// custom variable
@btn-primary-accent-bg:          #c40416;
@btn-primary-accent-color:       #fff;
@btn-primary-accent-border:      #f23d4e;

.text-plain {
  color: #fff;
}

// reset link  behavior
& a {

  color: #c40416;

  &:hover,
  &:active {
    color: #c40416;
  }

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@media (min-width: 768px) {
  .container,
  .wrapper {
    width: 750px;
  }
  
}

@media (min-width: 992px) {
  .container,
  .wrapper {
    width: 960px;
  }
  
}

// @media (min-width: 1200px) {
//   .container,
//   .wrapper {
//     width: 960px;
//   }
  
// }

body {
  padding-top: 90px;
  padding-bottom: 50px;
  background-color: #f9f9f9;
  line-height: 28px;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.wrapper {
  .box-shadow(0 0 15px rgba(0, 0, 0, 0.2));
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;

  & > .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.header {
  position: relative;
  height: 95px;
}

.community-profile {
  position: absolute;
  bottom: 20%;

  &:extend(.clarfix all);
}

.profile-picture {
  display: block;
  margin-right: 20px;
  height: 135px;
  width: 135px;

  &:extend(.pull-left);
}

.profile-name {

  & > h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  &:extend(.pull-left);
}

.top-navbar {
  padding-top: 26px;
  padding-right: 20px;
  margin-left: 200px;

  & > .nav-pills > li{

    & > a {
      padding-top: 4px;
      padding-bottom: 4px;
      color: #555;
    }

    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      color: #c40416;
      background-color: transparent;
    }

    & > a:hover{
    background-color: #c40416;
    color: #ffbac0;

    } 
  }
}

.top-slider {
  // margin-left: -15px;
}

.stream-block {
  margin-top: 10px;
  margin-bottom: 20px;
}

.shoutout-block {
  background-color: #292c37;
  padding: 36px;
  border-radius: 6px;
  margin: 10px 30px;

  & h2 {
    font-weight: 100;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  & .btn-primary-accent {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

.container-dark {
  background-color: #292c37;

  & .thumbnail {
    background-color: #2c2f3c;
    border-color: #1e212c;
  }

  & .list-group {

    & > .list-group-item {
      border-color: #1e212c;
      background-color: inherit;
    }
  }

  &er {
    background-color: #151820;
  }

}

.container-dark,
.container-darker {
  & h1, h2, h3, {
    color: #99a0bd;
  }

  & .img-thumbnail {
    background-color: #3e4250;
    border-color: transparent;
  }

  & a {
    color: #cad1ed;

    &:hover {
      color: #e8ecfa;
      text-decoration: none;
    }
  }

  & hr {
    border-top-color: #1e212c;
  }
}

.community-info {
  padding-right: 16px;
  padding-left: 16px;
}

.community-info-stats {
  .clearfix();

  border: 1px solid #1e212c;
  background-color: #272a35;
  border-radius: 4px;
}

.info-stats-item {
  float: left;
  color: #99a0bd;
  width: 33.3%;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;

  &:not(:last-child) {
    border-right: 1px solid #1e212c;
  }
}

.community-creator-pic {
  position: relative;
  bottom: 60px;
  margin-bottom: -50px;
}

.community-creator-text {
  color: #cad1ed;
}

.list-schedule{

  &-subtitle {
    color: #646b84;
    background-color: #272a35 !important;
  }

  & h4 {
    color: #cad1ed;
  }
}

.list-schedule-timestamp {
  color: #646b84;
  font-size: 10px;

  & > strong {
    color: #cad1ed;
  }
}

.collage-media {

  & a {
    display: block;
    border-radius: 4px;
    border: 1px solid #44485b;
    .box-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;

    &:nth-child(2n+1) {
      margin-left: 0;
    }
  }

  &:extend(.clearfix all);
}

.img-member-button {
  
}

.footer-shoutout {
  padding-top: 20px;
}

.footer-blog-summary {
  line-height: 16px;
  font-size: 12px;

  & a,
  & a:hover {
  color: #666d89;
  }

  & a:hover > .blog-summary-heading > h4{
    color: #B1B7CF;
  }
}

.blog-summary-heading {

  & > h4 {
    color: #99a0bd;
    font-size: 16px;
    margin-bottom: 4px;
  }
}

.blog-summary-timestamp {
  color: #646b84;
  font-size: 10px;
  margin-bottom: 4px;
}

footer {
  background-color: #0d0f15;

  &.container {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  & a {
    color: #4f556d;

    &:hover {
      text-decoration: none;
    }
  }

}