extends ./layout/general-layout.jade

block content
	hr(style="margin-bottom:0;")
	.blog-page.container
			h1 Blog
			.row
				.col-xs-10
					.blog-list
						a.subheading(href="#")
							h3 Komunitas Mafias : Prestasi animator Indonesia kian diakui dunia
						.blog-timestamp
							span.glyphicon.glyphicon-time&nbsp;
							| 22 November 2014 by&nbsp;
							a(href="#") Admin
						p
							img.pull-left.img-blog-thumbnail(src="holder.js/200x180")
							| Do you see any Teletubbies in here? Do you see a slender plastic tag clipped
							| to my shirt with my name printed on it? Do you see a little Asian child with a
							| blank expression on his face sitting outside on a mechanical helicopter that shakes
							| when you put quarters in it? No? Well, that's what you see at a toy store. And you must
							| think you're in a toy store, because you're here shopping for an infant named Jeb.
					.blog-list
						a.subheading(href="#")
							h3 Komunitas Mafias : Prestasi animator Indonesia kian diakui dunia
						.blog-timestamp
							span.glyphicon.glyphicon-time&nbsp;
							| 22 November 2014 by&nbsp;
							a(href="#") Admin
						p
							| Do you see any Teletubbies in here? Do you see a slender plastic tag clipped
							| to my shirt with my name printed on it? Do you see a little Asian child with a
							| blank expression on his face sitting outside on a mechanical helicopter that shakes
							| when you put quarters in it? No? Well, that's what you see at a toy store. And you must
							| think you're in a toy store, because you're here shopping for an infant named Jeb.
					.blog-list
						a.subheading(href="#")
							h3 Komunitas Mafias : Prestasi animator Indonesia kian diakui dunia
						.blog-timestamp
							span.glyphicon.glyphicon-time&nbsp;
							| 22 November 2014 by&nbsp;
							a(href="#") Admin
						p
							| Do you see any Teletubbies in here? Do you see a slender plastic tag clipped
							| to my shirt with my name printed on it? Do you see a little Asian child with a
							| blank expression on his face sitting outside on a mechanical helicopter that shakes
							| when you put quarters in it? No? Well, that's what you see at a toy store. And you must
							| think you're in a toy store, because you're here shopping for an infant named Jeb.
					.blog-list
						a.subheading(href="#")
							h3 Komunitas Mafias : Prestasi animator Indonesia kian diakui dunia
						.blog-timestamp
							span.glyphicon.glyphicon-time&nbsp;
							| 22 November 2014 by&nbsp;
							a(href="#") Admin
						p
							| Do you see any Teletubbies in here? Do you see a slender plastic tag clipped
							| to my shirt with my name printed on it? Do you see a little Asian child with a
							| blank expression on his face sitting outside on a mechanical helicopter that shakes
							| when you put quarters in it? No? Well, that's what you see at a toy store. And you must
							| think you're in a toy store, because you're here shopping for an infant named Jeb.


				.col-xs-2.blog-rightbar
					ul.list-unstyled
						li Archive
						li: a(href="#") Aug '14
						li: a(href="#") Jul '14
						li: a(href="#") Jun '14
						li: a(href="#") May '14
						li: a(href="#") Apr '14
						li: a(href="#") Mar '14


