extends ./layout/_default.jade

block content
	.container.content
		.row
			.col-md-8
				h3.subheading Upcoming Events & Meetups
				.calendar
					.list-group
						.list-group-item.calendar-timestamp Saturday, 22 December 2014
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Meetup
								.calendar-list-time.text-right
									span 10
									span .30
								a(href="#").calendar-list-pic
									img.img-rounded(src='images/djarum-super-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title of this Event
										| 230 Member attended
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Meetup
								.calendar-list-time.text-right
									span 20
									span .30
								a(href="#").calendar-list-pic
									img.img-rounded(src='images/pocari-sweat-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title of this Event
										| 230 Member attended
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Event
								.calendar-list-time.text-right
									span 10
									span .30
								a(href="#").calendar-list-pic
									img.img-rounded(src='images/djarum-super-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title
										| 230 Member attended
						.list-group-item.calendar-timestamp Monday, 24 December 2014
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Event
								.calendar-list-time.text-right
									span 10
									span .30
								a(href="#").calendar-list-pic
									img.img-rounded(src='images/djarum-super-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event 
										| 230 Member attended
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Meetup
								.calendar-list-time.text-right
									span 20
									span .30
								a(href="#").calendar-list-pic
									img.img-rounded(src='images/pocari-sweat-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title of this Event
										| 230 Member attended
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Event
								.calendar-list-time.text-right
									span 10
									span .30
								a(href="#").calendar-list-pic
									img.img-rounded(src='images/djarum-super-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title of this Event
										| 230 Member attended


			.col-md-4