extends ./layout/_default.jade

block content
	.container.content
		.row
			.col-md-8
				h3.subheading Upcoming Events & Meetups
				.calendar
					.list-group
						.list-group-item.calendar-list
							.calendar-timestamp.text-right 22
								span Dec
							.calendar-list-body
								a(href="#").calendar-list-type Meetup
								.calendar-list-time.text-right
									span 10
									span .30
								a(href="#").calendar-list-pic
									img(src='images/djarum-super-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title of this Event
										| Jalan Panggung, Surabaya, Jawa Timur
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Meetup
								.calendar-list-time.text-right
									span 20
									span .30
								a(href="#").calendar-list-pic
									img(src='images/pocari-sweat-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title of this Event
										| Jalan Panggung, Surabaya, Jawa Timur
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Event
								.calendar-list-time.text-right
									span 10
									span .30
								a(href="#").calendar-list-pic
									img(src='images/djarum-super-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title
										| Jalan Panggung, Surabaya, Jawa Timur
						.list-group-item.calendar-list
							.calendar-timestamp.text-right 24
								span Dec
							.calendar-list-body
								a(href="#").calendar-list-type Event
								.calendar-list-time.text-right
									span 10
									span .30
								a(href="#").calendar-list-pic
									img(src='images/djarum-super-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event 
										| Jalan Panggung, Surabaya, Jawa Timur
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Meetup
								.calendar-list-time.text-right
									span 20
									span .30
								a(href="#").calendar-list-pic
									img(src='images/pocari-sweat-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title of this Event
										| Jalan Panggung, Surabaya, Jawa Timur
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Event
								.calendar-list-time.text-right
									span 10
									span .30
								a(href="#").calendar-list-pic
									img(src='images/djarum-super-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title of this Event
										| Jalan Panggung, Surabaya, Jawa Timur
						.list-group-item.calendar-list
							.calendar-timestamp.text-right 27
								span Dec
							.calendar-list-body
								a(href="#").calendar-list-type Meetup
								.calendar-list-time.text-right
									span 10
									span .30
								a(href="#").calendar-list-pic
									img(src='images/djarum-super-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title of this Event
										| Jalan Panggung, Surabaya, Jawa Timur
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Meetup
								.calendar-list-time.text-right
									span 20
									span .30
								a(href="#").calendar-list-pic
									img(src='images/pocari-sweat-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title of this Event
										| Jalan Panggung, Surabaya, Jawa Timur
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Event
								.calendar-list-time.text-right
									span 10
									span .30
								a(href="#").calendar-list-pic
									img(src='images/djarum-super-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title
										| Jalan Panggung, Surabaya, Jawa Timur
						.list-group-item.calendar-list
							.calendar-timestamp.text-right 29
								span Dec
							.calendar-list-body
								a(href="#").calendar-list-type Event
								.calendar-list-time.text-right
									span 10
									span .30
								a(href="#").calendar-list-pic
									img(src='images/djarum-super-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event 
										| Jalan Panggung, Surabaya, Jawa Timur
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Meetup
								.calendar-list-time.text-right
									span 20
									span .30
								a(href="#").calendar-list-pic
									img(src='images/pocari-sweat-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title of this Event
										| Jalan Panggung, Surabaya, Jawa Timur
						.list-group-item.calendar-list
							.calendar-list-body
								a(href="#").calendar-list-type Event
								.calendar-list-time.text-right
									span 10
									span .30
								a(href="#").calendar-list-pic
									img(src='images/djarum-super-logo.png')
								.calendar-list-text
									p
										a(href="#") It's Should be Title of this Event It's Should be Title of this Event
										| Jalan Panggung, Surabaya, Jawa Timur
			aside.col-md-4
				.list-group.aside-block
					.list-group-item
						include ./include/_aside-schedule.jade