extends ./layout/_default.jade

block content 
	.content.container
		.row
			.col-md-8
				.wrp-conv
					.conv-block
						.conv-head
							.identity
								a(href="").identity-pic
									img.img-circle.img-thumbnail(src="images/profile-pic-honda.jpg")
								.identity-content
									a(href="#")
										h3 Keisuke Honda
									p
										span.glyphicon.glyphicon-time
										| &nbsp;22 hours ago
						.conv-body
							p quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
								| ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
								| voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
								| fugiat quo voluptas nulla pariatur?
							.conv-body-bottom
								a(href="#")
									span.glyphicon.glyphicon-comment
									| &nbsp;12 Comments
								a.pull-right(href="#") Reshare
						.conv-comment-block
							.conv-comment
								.identity
									a(href="").identity-pic
										img.img-thumbnail.img-circle(src="images/nakata.jpg")
									.identity-content
										.conv-comment-text
											a(href="#") Hidetoshi Nakata
											span suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
												| Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
											p
												span.glyphicon.glyphicon-time
												| &nbsp;22 hours ago
							.conv-comment
								.identity
									a(href="").identity-pic
										img.img-thumbnail.img-circle(src="images/kagawa.jpg")
									.identity-content
										.conv-comment-text
											a(href="#") Shinji Kagawa
											span suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
											p
												span.glyphicon.glyphicon-time
												| &nbsp;22 hours ago
							.conv-comment
								.identity
									a(href="").identity-pic
										img.img-thumbnail.img-circle(src="images/kagawa.jpg")
									.identity-content
										.conv-comment-text.conv-comment-write
											textarea.form-control(rows="2", placeholder="Write comment")
											.text-right
												button.btn.btn-main Post comment
					hr
					.conv-block
						.conv-head
							.identity
								a(href="").identity-pic
									img.img-circle.img-thumbnail(src="images/profile-pic-honda.jpg")
								.identity-content
									a(href="#")
										h3 Keisuke Honda
									p
										span.glyphicon.glyphicon-time
										| &nbsp;22 hours ago
						.conv-body
							p quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
								| ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
								| voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
								| fugiat quo voluptas nulla pariatur?
							.conv-body-bottom
								a(href="#")
									span.glyphicon.glyphicon-comment
									| &nbsp;12 Comments
								a.pull-right(href="#") Reshare
						.conv-comment-block
							.conv-comment
								.identity
									a(href="").identity-pic
										img.img-thumbnail.img-circle(src="images/nakata.jpg")
									.identity-content
										.conv-comment-text
											a(href="#") Hidetoshi Nakata
											span suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
												| Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
											p
												span.glyphicon.glyphicon-time
												| &nbsp;22 hours ago
							.conv-comment
								.identity
									a(href="").identity-pic
										img.img-thumbnail.img-circle(src="images/kagawa.jpg")
									.identity-content
										.conv-comment-text
											a(href="#") Shinji Kagawa
											span suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
											p
												span.glyphicon.glyphicon-time
												| &nbsp;22 hours ago
							.conv-comment
								.identity
									a(href="").identity-pic
										img.img-thumbnail.img-circle(src="images/kagawa.jpg")
									.identity-content
										.conv-comment-text.conv-comment-write
											textarea.form-control(rows="2", placeholder="Write comment")
											.text-right
												button.btn.btn-main Post comment

			aside.col-md-4
				.list-group.aside-block
					.list-group-item
						include ./include/_aside-schedule.jade
					.list-group-item
						include ./include/_aside-member.jade