extends ./layout/_default.jade

block content 
	.content.container
		.row
			.col-md-8
				.wrp-conv
					.conv-block.card
						.conv-head.identity
							a(href="").identity-pic
								img.img-circle.img-thumbnail(src="images/profile-pic-honda.jpg")
							.identity-content
								a(href="#")
									h4 Keisuke Honda
								span &nbsp;22 hours ago
						.conv-body
							p quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
								| ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
								| voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
								| fugiat quo voluptas nulla pariatur?
						.conv-bottom
							a(href="#") Comment
							| &nbsp;&nbsp;
							a(href="#") Reshare
							a.pull-right(href="#") 
								span.glyphicon.glyphicon-comment
								| &nbsp;12 Comments
						.conv-comment-block
							.conv-comment
								a(href="").identity-pic
									img.img-thumbnail.img-circle(src="images/nakata.jpg")
								.identity-content
									.conv-comment-text
										a(href="#") Hidetoshi Nakata
										| &nbsp;suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
										| Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
										span
											| 22 hours ago
							.conv-comment
								a(href="").identity-pic
									img.img-thumbnail.img-circle(src="images/kagawa.jpg")
								.identity-content
									.conv-comment-text
										a(href="#") Shinji Kagawa
										| &nbsp;Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
										span
											| 22 hours ago
							.conv-comment
								.conv-comment-write
									textarea(rows="1", placeholder="Write comment")
									.text-right
										button.btn.btn-main Post comment
					.conv-block.card
						.conv-head.identity
							a(href="").identity-pic
								img.img-circle.img-thumbnail(src="images/profile-pic-honda.jpg")
							.identity-content
								a(href="#")
									h4 Keisuke Honda
								span &nbsp;22 hours ago
						.conv-body
							p quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
								| ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
								| voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
								| fugiat quo voluptas nulla pariatur?
						.conv-bottom
							a(href="#") Comment
							| &nbsp;&nbsp;
							a(href="#") Reshare
							a.pull-right(href="#") 
								span.glyphicon.glyphicon-comment
								| &nbsp;12 Comments
						.conv-comment-block
							.conv-comment
								a(href="").identity-pic
									img.img-thumbnail.img-circle(src="images/nakata.jpg")
								.identity-content
									.conv-comment-text
										a(href="#") Hidetoshi Nakata
										| &nbsp;suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
										| Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
										span
											| 22 hours ago
							.conv-comment
								a(href="").identity-pic
									img.img-thumbnail.img-circle(src="images/kagawa.jpg")
								.identity-content
									.conv-comment-text
										a(href="#") Shinji Kagawa
										| &nbsp;Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur
										span
											| 22 hours ago
							.conv-comment
								.conv-comment-write
									textarea(rows="1", placeholder="Write comment")
									.text-right
										button.btn.btn-main Post comment
			aside.col-md-4
				.list-group.aside-block
					.list-group-item
						include ./include/_aside-schedule.jade
					.list-group-item
						include ./include/_aside-member.jade