extends ./layout/_default.jade

block after-body
  include ./include/_modal-login.jade
block content
  .container.content
    .row
      .col-md-8
        h2.subheading Community Information
        p Lorem ipsum dolor sit amet, posidonium persequeris necessitatibus
          | vim id. Eos explicari gubergren sadipscing et, sea ad pertinacia
          | interesset complectitur. Habeo paulo inermis ius te. In exerci
          | iriure vix, an pri eius timeam posidonium. Maiorum expetenda te
          | vix, ei fugit dicta virtute sed, nam ex vidit vocibus civibus.
          | At velit partem ocurreret est.
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width="560" height="315" src="//www.youtube-nocookie.com/embed/FoRRybrFR0c?rel=0" allowfullscreen)
        br
        button.btn.btn-main
          span.glyphicon.glyphicon-chevron-right
          | &nbsp;Show more

        h2.subheading Sponsor List
        .sponsor-list-block
          a(href="#").identity
            .identity-pic.ribbon
              span.ribbon-gold Gold Sponsor
              img.img-thumbnail(src='images/pocari-sweat-logo.png')
            .identity-content
              h4 Pocari Sweat Indonesia
              p Et tantas quaestio reprehendunt qui, ex albucius maiestatis nam.
                | Qui sadipscing eloquentiam ea. Ex discere volumus nam, et stet movet eum, 

          .sponsor-list-item
            a(href="#").identity
              .identity-pic.ribbon
                span.ribbon-silver Silver Sponsor
                img.img-thumbnail(src='images/pocari-sweat-logo.png')
              .identity-content
                h4 Pocari Sweat Indonesia
                p Et tantas quaestio reprehendunt qui, ex albucius maiestatis nam.                   
          .sponsor-list-item
            a(href="#").identity
              .identity-pic.ribbon
                span.ribbon-silver Silver Sponsor
                img.img-thumbnail(src='images/djarum-super-logo.png')
              .identity-content
                h4 Pocari Sweat Indonesia
                p Et tantas quaestio reprehendunt qui, ex albucius maiestatis nam.
          .sponsor-list-item
            a(href="#").identity
              .identity-pic.ribbon
                span.ribbon-bronze Bronze Sponsor
                img.img-thumbnail(src='images/pocari-sweat-logo.png')
              .identity-content
                h4 Pocari Sweat Indonesia
                p Et tantas quaestio reprehendunt qui, ex albucius maiestatis nam.
          .sponsor-list-item
            a(href="#").identity
              .identity-pic.ribbon
                span.ribbon-bronze Bronze Sponsor
                img.img-thumbnail(src='images/djarum-super-logo.png')
              .identity-content
                h4 Pocari Sweat Indonesia
                p Et tantas quaestio reprehendunt qui, ex albucius maiestatis nam.
        br
        button.btn.btn-main
          span.glyphicon.glyphicon-chevron-right
          | &nbsp;Show more

        h2.subheading Latest Photo
        .latest-photo-block
          a.latest-photo-list(href="#")
            img(src="images/djarum-super-logo.png")
          a.latest-photo-list(href="#")
            img(src="images/djarum-super-logo.png")
          a.latest-photo-list(href="#")
            img(src="images/djarum-super-logo.png")
          a.latest-photo-list(href="#")
            img(src="images/djarum-super-logo.png")
        br
        button.btn.btn-main
          span.glyphicon.glyphicon-play-circle
          | &nbsp;Show all photos


      aside.col-md-4
        .shoutout-block.text-center
          h3 Be a part of this community?
          button.btn.btn-main.btn-lg Join Now!              

        .list-group.aside-block
          .list-group-item
            .aside-info.identity
              a.identity-pic(href="#")
                img.img-thumbnail.img-circle(src="images/profile-pic-honda.jpg")
              .identity-content
                span.text-muted Organizer
                a(href="#")
                  h4 Keisuke Honda
                button.btn.btn-main.btn-sm
                  span.glyphicon.glyphicon-envelope
                  | &nbsp;Contact Us
          .list-group-item
            include ./include/_aside-schedule.jade
          .list-group-item
            h3 Latest Update
            .aside-upd-post-block
              .aside-upd-post
                p quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                  | ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                  | voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
                  | fugiat quo voluptas nulla pariatur?
                .aside-upd-post-timestamp.pull-right
                  span.glyphicon.glyphicon-time
                  | &nbsp; 14 August 2014
              .aside-upd-post
                p quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                  | ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                  | voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
                  | fugiat quo voluptas nulla pariatur?
                .aside-upd-post-timestamp.pull-right
                  span.glyphicon.glyphicon-time
                  | &nbsp; 14 August 2014
              .aside-upd-post
                p quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                  | ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                  | voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
                  | fugiat quo voluptas nulla pariatur?
                .aside-upd-post-timestamp.pull-right
                  span.glyphicon.glyphicon-time
                  | &nbsp; 14 August 2014
              .aside-upd-post
                p quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                  | ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                  | voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
                  | fugiat quo voluptas nulla pariatur?
                .aside-upd-post-timestamp.pull-right
                  span.glyphicon.glyphicon-time
                  | &nbsp; 14 August 2014
          .list-group-item
            include ./include/_aside-member.jade



