extends ./layout/_default.jade

block after-body
  include ./include/_modal-login.jade
block content
  .container.content
    .row
      .col-md-8
        h2.subheading Community Information
        p Lorem ipsum dolor sit amet, posidonium persequeris necessitatibus
          | vim id. Eos explicari gubergren sadipscing et, sea ad pertinacia
          | interesset complectitur. Habeo paulo inermis ius te. In exerci
          | iriure vix, an pri eius timeam posidonium. Maiorum expetenda te
          | vix, ei fugit dicta virtute sed, nam ex vidit vocibus civibus.
          | At velit partem ocurreret est.
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width="560" height="315" src="//www.youtube-nocookie.com/embed/FoRRybrFR0c?rel=0" allowfullscreen)
        br
        button.btn.btn-main
          span.glyphicon.glyphicon-chevron-right
          | &nbsp;Show more

        h2.subheading Sponsor List
        .sponsor-list-block
          a(href="#").identity
            .identity-pic.ribbon
              span.ribbon-gold Gold Sponsor
              img.img-thumbnail(src='images/pocari-sweat-logo.png')
            .identity-content
              h4 Pocari Sweat Indonesia
              p Et tantas quaestio reprehendunt qui, ex albucius maiestatis nam.
                | Qui sadipscing eloquentiam ea. Ex discere volumus nam, et stet movet eum, 

          .sponsor-list-item
            a(href="#").identity
              .identity-pic.ribbon
                span.ribbon-silver Silver Sponsor
                img.img-thumbnail(src='images/pocari-sweat-logo.png')
              .identity-content
                h4 Pocari Sweat Indonesia
                p Et tantas quaestio reprehendunt qui, ex albucius maiestatis nam.                   
          .sponsor-list-item
            a(href="#").identity
              .identity-pic.ribbon
                span.ribbon-silver Silver Sponsor
                img.img-thumbnail(src='images/djarum-super-logo.png')
              .identity-content
                h4 Pocari Sweat Indonesia
                p Et tantas quaestio reprehendunt qui, ex albucius maiestatis nam.
          .sponsor-list-item
            a(href="#").identity
              .identity-pic.ribbon
                span.ribbon-bronze Bronze Sponsor
                img.img-thumbnail(src='images/pocari-sweat-logo.png')
              .identity-content
                h4 Pocari Sweat Indonesia
                p Et tantas quaestio reprehendunt qui, ex albucius maiestatis nam.
          .sponsor-list-item
            a(href="#").identity
              .identity-pic.ribbon
                span.ribbon-bronze Bronze Sponsor
                img.img-thumbnail(src='images/djarum-super-logo.png')
              .identity-content
                h4 Pocari Sweat Indonesia
                p Et tantas quaestio reprehendunt qui, ex albucius maiestatis nam.
        br
        button.btn.btn-main
          span.glyphicon.glyphicon-chevron-right
          | &nbsp;Show more

        h2.subheading Latest Photo
        .latest-photo-block
          a.latest-photo-list(href="#")
            img(src="images/djarum-super-logo.png")
          a.latest-photo-list(href="#")
            img(src="images/djarum-super-logo.png")
          a.latest-photo-list(href="#")
            img(src="images/djarum-super-logo.png")
          a.latest-photo-list(href="#")
            img(src="images/djarum-super-logo.png")
        br
        button.btn.btn-main
          span.glyphicon.glyphicon-play-circle
          | &nbsp;Show all photos


      aside.col-md-4
        include ./include/_aside-shoutout.jade
        .list-group.aside-block
          .list-group-item
            include ./include/_aside-identity.jade
          .list-group-item
            include ./include/_aside-schedule.jade
          .list-group-item
            h3 Latest Update
            include ./include/_aside-update.jade
          .list-group-item
            include ./include/_aside-member.jade



