extends ./layout/general-layout.jade

block content
  .container
    .header
      .community-profile
        a.profile-picture(href="#")
          img.img-thumbnail(src='images/akibanation-logo-125x125.jpg')
        .profile-name
          h3 Akibanation Surabaya
      nav.navbar.top-navbar(role="navigation")
        .navbar-header
          button.navbar-toggle(data-toggle="collapse", data-target="#top-navbar-collapse")
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(data-toggle="collapse", data-target="#top-navbar-collapse") Menu
        #top-navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active: a(href="#") about
            li: a(href="#") dashboard
            li: a(href="#") calendar
            li: a(href="#") media
            li: a(href="#") member
            li: a(href="#") blog

      //- nav.top-navbar(role="navigation")
      //-   .navbar-header
      //-     button.navbar-toggle(data-toggle="collapse", data-target="#top-nav-collapse")
      //-       span.sr-only Toggle Navigation
      //-       span.icon-bar
      //-       span.icon-bar
      //-       span.icon-bar
      //-   #top-nav-collapse.collapse.navbar-collapse
      //-     ul.nav.navbar-nav
      //-       li.active
      //-         a(href="#") about
      //-       li
      //-         a(href="#") dashboard
      //-       li
      //-         a(href="#") calendar
      //-       li
      //-         a(href="#") media
      //-       li
      //-         a(href="#") member
      //-       li
      //-         a(href="#") blog
  .row
    .col-xs-12
      .top-slider
        img.img-responsive(src='images/slider-1.jpg')
  .container
    .row
      .col-xs-12
        br
        h3 Community Information
        p An official Wakuwakuw Developer Community.
          | If you have any question, contact us on developers@mataharilabs.com
        .text-center.stream-block
          iframe(width="600" height="380" src="//www.youtube-nocookie.com/embed/9tDNI6dWLGc?rel=0" frameborder="0" allowfullscreen)
        p Vestibulum nec laoreet mi. Donec ullamcorper blandit
          | lacus vitae condimentum. Integer eget mi sit amet massa
          | tempus dignissim. Ut a egestas dolor. Phasellus eros tortor,
          | dignissim sed faucibus vel, scelerisque sit amet ipsum.
          | Nam vehicula, justo at pharetra scelerisque, metus neque
          | pulvinar massa, eu feugiat orci tellus ac tellus.
          | Suspendisse potenti. Mauris laoreet urna quis quam
          | ullamcorper nec facilisis metus egestas. Mauris sem diam,
          | fermentum nec rhoncus sit amet, sollicitudin ut nibh.
          | Cum sociis natoque penatibus et magnis dis parturient
          | montes, nascetur ridiculus mus. Proin metus sem, molestie
          | sed sollicitudin imperdiet, tincidunt vitae tortor. Cras
          | auctor elementum placerat. Phasellus ornare risus sed neque
          |rutrum non porta nulla aliquam. Aliquam erat volutpat.
        p Official Wakuwakuw FB Page : 
          a(href="fb.com/waku2w") facebook.com/waku2w
        p Check out our Blog :
          br
          a(href="blog.wakuwakuw.com") blog.wakuwakuw.com
  hr
  .container
    .shoutout-block
      .row
        .col-xs-8
          h2 Be a part of this community?
        .col-xs-4
            button.btn.btn-primary-accent.btn-lg.btn-block(type="button") Join now!
  hr
  .container
    .row
      .col-xs-12
        h3 Why you should join with us?
        p Vestibulum nec laoreet mi. Donec ullamcorper blandit lacus
          | vitae condimentum. Integer eget mi sit amet massa tempus
          | dignissim. Ut a egestas dolor. Phasellus eros tortor,
          | dignissim sed faucibus vel, scelerisque sit amet ipsum.
          | Nam vehicula, justo at pharetra scelerisque, metus neque
          | pulvinar massa, eu feugiat orci tellus ac tellus.
        ul
          li Proin id dolor lacus, vel pharetra velit.
          li Praesent gravida ligula vitae metus elementum vel egestas odio tristique.
          li Duis eleifend fringilla tellus, eget luctus magna consequat eget.
        br
  .container.container-dark
    br
    .row
      .col-xs-8
        h3 Latest Photo
        .collage-media
          a(href="#")
            img(src="holder.js/300x170/sky")
          a(href="#")
            img(src="holder.js/245x170/sky")
          a(href="#")
            img(src="holder.js/245x170/sky")
          a(href="#")
            img(src="holder.js/300x170/sky")
        .text-center
          button.btn.btn-primary-accent.text-center(type="button") View all photos
        .member-summary
          h3 Members
          ul.list-inline
            li.text-center: a(href="#")
              img.img-circle.img-thumbnail(src="holder.js/97x97")
              br
              | Jon Arryn
            li.text-center: a(href="#")
              img.img-circle.img-thumbnail(src="holder.js/97x97")
              br
              | Catelyn Starks
            li.text-center: a(href="#")
              img.img-circle.img-thumbnail(src="holder.js/97x97")
              br
              | Joffrey Baratheon
            li.text-center: a(href="#")
              img.img-circle.img-thumbnail(src="holder.js/97x97")
              br
              | Theon Greyjoy
            li.text-center: a(href="#")
              img.img-circle.img-member-button(src="holder.js/97x97")
              br
              strong View all member
      .col-xs-4
        .thumbnail.community-info
          img.img-circle.img-thumbnail.community-creator-pic(src="holder.js/97x97/#c40416:c40416")
          .text-center.community-creator-text Creator:
            a(href="#")
              h4 Eddard (Ned) Starks
          .community-info-stats
            .info-stats-item Event:
              br
              strong 200
            .info-stats-item Meetups:
              br
              strong 240
            .info-stats-item Organizer:
              br
              strong 20
          hr
          h3 Upcoming Schedules

          .list-group
            .list-group-item.list-schedule.list-schedule-subtitle(href="#") Saturday, 20 April 2013
            a.list-group-item.list-schedule(href="#")
              .list-schedule-timestamp
                span.glyphicon.glyphicon-time
                | &nbsp;7.30 pm by&nbsp;
                strong Jakarta Great Event
              h4 Gramedia School Holiday Fair 2013
            a.list-group-item.list-schedule(href="#")
              .list-schedule-timestamp
                span.glyphicon.glyphicon-time
                | &nbsp;7.30 pm by&nbsp;
                strong Jakarta Great Event
              h4 Contes Education With
                | Universitas Diponegoro -
                | ELECTRICAL INNOVATION
                | AWARDS 2013
            a.list-group-item.list-schedule(href="#")
              .list-schedule-timestamp
                span.glyphicon.glyphicon-time
                | &nbsp;7.30 pm by&nbsp;
                strong Jakarta Great Event
              h4 Gramedia School Holiday Fair 2013
  .container.container-darker
    .row
      .col-xs-5.text-center.footer-shoutout
        h2 Akibanation
        P.text-plain  Be a part of this commuinty?
        button.btn.btn-primary-accent(type="button") Join now!
      .col-xs-7
        h3 Latest Blog
        ul.list-unstyled
          li.footer-blog-summary: a(href="#")
            .blog-summary-heading 
              h4 We have new gossip? Guess what...
              p.blog-summary-timestamp
                span.glyphicon.glyphicon-time
                |&nbsp;22 November 2014 by 
                strong Admin
            | Morbi metus magna, mattis at male suada eget, tempor id urna.
            | Suspendisse potenti. Cras at nisi interdum neque tincidunt
            | pellentesque. Aenean porta molestie quam ...
          li.footer-blog-summary: a(href="#")
            .blog-summary-heading 
              h4 Akibanation goes to europe! yay...
              p.blog-summary-timestamp
                span.glyphicon.glyphicon-time
                |&nbsp;20 Septmeber 2014 by 
                strong Admin
          li 
            button.btn.btn-primary-accent.btn-sm(type="button") See all our blog


