extends ./layout/_default.jade

block content
	.container.content
		.row
			.col-md-8
				h3.subheading Photos
				.photo-block
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
				br
				h3.subheading Event Album
				.photo-block
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a(href="#") Event Title
			.col-md-4
				.list-group
					a(href="#").list-group-item Photos
					a(href="#").list-group-item Event Album
					a(href="#").list-group-item Meetup Album