extends ./layout/_default.jade

block content
	.container.content
		.row
			.col-md-8
				h3.subheading Photos
				.photo-block
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
					a.photo-list(href="#")
						img(src="images/djarum-super-logo.png")
				h3.subheading Event Album
				.album-block.text-center
					.album-list
						a.album-list-cover(href="#")
							img(src="images/djarum-super-logo.png")
						.album-list-bottom.text-left
							a(href="#") Event Title
							span 12 Aug 2014 - 12 Photos
					.album-list
						a.album-list-cover(href="#")
							img(src="images/djarum-super-logo.png")
						.album-list-bottom.text-left
							a(href="#") Event Title
							span 2 Feb 2014 - 10 Photos
					.album-list
						a.album-list-cover(href="#")
							img(src="images/djarum-super-logo.png")
						.album-list-bottom.text-left
							a(href="#") Event Title
							span 14 Jan 2014 - 24 Photos
				h3.subheading Meetup Album
				.album-block.text-center
					.album-list
						a.album-list-cover(href="#")
							img(src="images/djarum-super-logo.png")
						.album-list-bottom.text-left
							a(href="#") Meetup Title
							span 12 Aug 2014 - 12 Photos
					.album-list
						a.album-list-cover(href="#")
							img(src="images/djarum-super-logo.png")
						.album-list-bottom.text-left
							a(href="#") Meetup Title
							span 2 Feb 2014 - 10 Photos
					.album-list
						a.album-list-cover(href="#")
							img(src="images/djarum-super-logo.png")
						.album-list-bottom.text-left
							a(href="#") Meetup Title
							span 14 Jan 2014 - 24 Photos
					.album-list
						a.album-list-cover(href="#")
							img(src="images/djarum-super-logo.png")
						.album-list-bottom.text-left
							a(href="#") Meetup Title
							span 12 Aug 2014 - 12 Photos
					.album-list
						a.album-list-cover(href="#")
							img(src="images/djarum-super-logo.png")
						.album-list-bottom.text-left
							a(href="#") Meetup Title
							span 2 Feb 2014 - 10 Photos
					.album-list
						a.album-list-cover(href="#")
							img(src="images/djarum-super-logo.png")
						.album-list-bottom.text-left
							a(href="#") Meetup Title
							span 14 Jan 2014 - 24 Photos
			aside.col-md-4
				.list-group.aside-block
					a(href="#").list-group-item Photos
					a(href="#").list-group-item Event Album
					a(href="#").list-group-item Meetup Album
				.list-group.aside-block
					.list-group-item
						h3 Latest Upload