extends ./layout/_default.jade

block content
	.container.content
		.row
			.col-md-8
				h3.subheading Community Member
				.member-block
					.member-admin
						h4 Administrator
						.identity
							a.identity-pic(href="#")
								img.img-thumbnail.img-circle(src="images/profile-pic-honda.jpg")
								span Creator
							.identity-content
								a(href="#")
									h4 Keisuke Honda
								span.text-muted Position:
									strong Public Relation
								button.btn.btn-main.btn-sm
									span.glyphicon.glyphicon-envelope
									| &nbsp;Contact Us	
						.identity
							a.identity-pic(href="#")
								img.img-thumbnail.img-circle(src="images/kagawa.jpg")
								span Organizer
							.identity-content
								a(href="#")
									h4 Shinji Nakata
								span.text-muted Position:
									strong Public Relation
								button.btn.btn-main.btn-sm
									span.glyphicon.glyphicon-envelope
									| &nbsp;Contact Us
					br
					.member-list
						h4 Member
						.identity
							a.identity-pic(href="#")
								img.img-thumbnail.img-circle(src="images/nakata.jpg")
							.identity-content
								a(href="#")
									h4 Keisuke Honda
						.identity
							a.identity-pic(href="#")
								img.img-thumbnail.img-circle(src="images/kagawa.jpg")
							.identity-content
								a(href="#")
									h4 Shinji Nakata
						.identity
							a.identity-pic(href="#")
								img.img-thumbnail.img-circle(src="images/kagawa.jpg")
							.identity-content
								a(href="#")
									h4 Shinji Nakata
						.identity
							a.identity-pic(href="#")
								img.img-thumbnail.img-circle(src="images/nakata.jpg")
							.identity-content
								a(href="#")
									h4 Keisuke Honda
						.identity
							a.identity-pic(href="#")
								img.img-thumbnail.img-circle(src="images/kagawa.jpg")
							.identity-content
								a(href="#")
									h4 Shinji Nakata
						.identity
							a.identity-pic(href="#")
								img.img-thumbnail.img-circle(src="images/kagawa.jpg")
							.identity-content
								a(href="#")
									h4 Shinji Nakata
			.col-md-4