@media screen and (max-width: 767px) {

	.header{

		&-nav {
			top: 0;
			border-radius: 0;
			padding-left: 6px;
			padding-right: 6px;


			& > .nav-pills.pull-left{
				display: none;
			}
		}


		&-profile-pic {
			left: 60px;
		}
	}

}